:root{
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --white-color: #FFFFFF;
    --acent-color: #2196F3;
    --logo-color: #000000;
    --bgc-color: #F5F4FA;
    --bgc-footer-color: #2F303A;
    --bgc-up-color: #2F303A;
}


html{
    box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6,p,ul,li,a{
    margin: 0;
    padding: 0;
}
body {
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    
}

.list{
    list-style: none;
    text-decoration: none;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px red solid; */
    margin-left: auto;
    margin-right: auto;
    
}

/* Header */
.header{
    border-bottom: 1px solid #ECECEC;
}
.nav, header nav{
    display: flex;
}
/* logo */
.logo{
    display: flex;
    color:  var(--acent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-right: 93px;
}


.logo_black{
    color: var(--logo-color);
    margin-left: 0px;
}

header .logo{
    padding-top: 24px;
    padding-bottom: 25px;
}


/* site nav */
.navi{
    display: flex;
}

.navi_link{
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &--active{
        color: var(--acent-color);
    }

    &--active::after{
        display: inline-block;
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--acent-color);
        border-radius: 2px;
        bottom: 0;
        left: 0;
    
    }

}

/* contakts list */
.header .contakts{
    display: flex;
    margin-left: auto;
}

.navi_item:not(:last-child){
    margin-right: 50px;
}

.contakts_link{
    color: var(--second-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    display: inline-flex;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--acent-color);
    }
}

.contakts_icon{
width: 16px;
height: 16px;
fill: var(--second-text-color);
margin-right: 10px;

transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

.contakts_link:hover &,
.contakts_link:focus &{
    fill: var(--acent-color);
}
}



.navi_item{
    display: flex;
    position: relative;
}

/* Footer */

.footer{
    background-color: var(--bgc-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-white{
    color: var(--white-color);
}

.opis {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contakts-footer{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.adress{
    color: var(--white-color);
}


/* Index */



/* hero */
.hero{
    background-color: var(--bgc-up-color);
    color: var(--white-color);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.hero_title{
font-weight: 900;
font-size: 44px;
line-height: 1.36; 
letter-spacing: 0.06em;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
width: 696px;
}
.hero_button{
    color: var(--white-color);
    background-color: var(--acent-color);

    font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;

display: inline-block;
border-radius: 4px;
padding: 10px 32px;
border: 0px;
min-width: 200px;
margin-top: 30px;
}


/* section */

.section_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.section{
    padding: 94px 0;
}


/* feature */

.feature{
    display: flex;
}

.feature_item:not(:last-child){
    margin-right: 30px;
}

.invisible{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.feature_title{
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
}

.feature_tekst{
color: var(--second-text-color);
line-height: 1.71;

margin-top: 10px;
}

.feature_block{
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc-color);
}


.feature_pictures{
    width: 70px;
    height: 70px;
}

/* work */

.work{
    margin-top: 50px;
    display: flex;
}

.work_item:not(:last-child){
    margin-right: 30px;
}

.works_section{
    padding-top: 0px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
.work_item{
    position: relative;
}
.work_text{
display: flex;
align-items: center;
justify-content: center;
    position: absolute;
width: 100%;
height: 70px;
background-color: var(--bgc-footer-color);
bottom: 0;
left: 0;
opacity: 0.8;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--white-color);
}

/* Team */

.team_section{
    background-color: var(--bgc-color);
}
.team{
    display: flex;
    margin-top: 50px;
}

.person_title{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}

.person_container{
padding-top: 30px;
padding-bottom: 30px;
}

.person_text{
color: var(--second-text-color);
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

margin-top: 10px;
} 







/* Portfolio */





.portfolio-button{
    color: var(--primary-text-color);
    background-color:var(--bgc-color);
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

    border-radius: 4px;
    padding: 6px 22px;
    border: 0px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover, 
    &:focus{
    color: var(--white-color);
    background-color:var(--acent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    }

   .portfolio-item:not(:last-child){
    margin-right: 8px;
   }
   

   .galery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
   }

   .galery-link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   }
   }



   .galery-title{
    color: var(--primary-text-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   }
   
   .galery-text{
    color: var(--second-text-color);
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;

   margin-top: 4px;
   }


   .galery-img-box{
    position: relative;
    overflow: hidden;
   }


   .galery-img-text{
    position: absolute;
    width: 100%;
    height: 294px;
    background-color: var(--acent-color);
    top: 0;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;

    .galery-link:hover &,
    .galery-link:focus &{
     opacity: 0.9;
     transform: translateY(0%);  
    }
   }

   .person{
    /* outline: 1px red solid; */
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
   &:not(:last-child){
    margin-right: 30px;
   }
}
   .portfolio{
    display: flex;
    justify-content: center;
    /* outline: 2px red solid; */
   }

   .galery-box:nth-child(3n){
    margin-right: 0px;
   }

   .galery-box-text{
    /* outline: 2px red solid; */
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
   }

   .mtop{
    margin-top: 94px;
   }

   .contakts-item{
    margin-top: 9px;
   }

   .contakts-item-adress{
    margin-top: 20px;
   }

   .social_list{
    height: 44px;
    width: 44px;
   }

   .social_link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    color: #AFB1B8;
    background-color: var(--white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover,
    &:focus{
     color: #FFFFFF;
     background-color: var(--acent-color);
    }

}



   .social_icon{
    fill: currentColor;
    width: 20px;
    height: 20px;
   }

   .social{
    justify-content: center;
    gap: 10px;
    display: flex;
    gap: 10px;
    margin-top: 16px;
   }


   .clients_link{
    box-sizing: border-box;
    margin-top: 50px;

    & + &{
        margin-left: 30px;
    }

   }

   .clients_icon{
    height: 92px;
    width: 170px;
    fill: currentColor;
   }
   .clients_ref{
    display: flex;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover,
    &:focus{
     color: var(--acent-color);
     border-color: var(--acent-color);
    }


}


   .clients{
    display: flex;
   }

   .adresa-link{
    align-items: baseline;
    display: flex;
   }


   .link-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;


   }

   .link-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   }

   .link-list-item{
    display: flex;
    height: 44px;
    width: 44px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;

    &+&{
        margin-left: 10px;
    }
   }

   .link-list-ref{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
     background-color: var(--acent-color);
    }
   }


   .link-list-icon{
    display: flex;
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    justify-content: center;
    align-items: center;
   }

   .backdrop{
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }

   
   .backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;

    &.modal{
        transform: scale(1.1) translate(-50%, -50%);
    }
   }


   .modal{
    min-width: 528px;
    min-height: 581px;
    background-color: var(--white-color);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
   }


   .button_close{
    box-sizing: border-box;
    background-color: #FFFFFF;
    fill: #000000;

    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../images/closebutton.svg);

    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover{
        fill: #2196F3;
        background-image: url(../images/closebuttonacent.svg);

    }
   }

   textarea{
    resize: none;
   }

   .form{
    width: 100%;
    height:  100%;
    /* outline: 1px solid tomato; */
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    justify-content: center;
    align-items: center;
   }

   .form_field{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* outline: 1px solid blue; */

   }

   .form_field input{
    margin: 0;
    padding: 6px 10px;
    border-radius: 3px;
    padding-left: 42px;
    cursor: pointer;
   }

   .form_field label{
    margin-bottom: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;

    color: var(--second-text-color);

   }

   .form_field textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    
   }

   .form_field textarea{
    padding: 12px 16px;
    width: 100%;
    height: 120px;
   }

   .form_title{
    margin-bottom: 12px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
text-align: center;
letter-spacing: 0.03em;

color: var(--primary-text-color)

   }


   .footerform_title{
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;


   }

   .foterform_input{
    
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(33, 150, 243, 0);
    padding-left: 16px;
    cursor: pointer;
   }

   .foterform_input::placeholder{
    color: rgba(255, 255, 255, 0.6);

    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 125%;
    align-items: center;
    letter-spacing: 0.03em;
   }

   .footerform_button{
    position: relative;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    border: none;
    cursor: pointer;


    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    padding-right: 33px;
    color: #FFFFFF;
   }

   .footerform_button::after{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 28px;
    content: ' ';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/iconsend.svg);
    cursor: pointer;
   }


.foterform_box{
    position: relative;
}

.policy{
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    color: var(--second-text-color);
    cursor: pointer;
}

.text_link{
    color: var(--acent-color);
    margin-left: 4px;

}

.form_buton{   
    display: block;
    border: none;
    margin-top: 30px; 
    margin-left: auto;
    margin-right: auto;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    cursor: pointer; 


    font-weight: 700;
    font-size: 16px;
    line-height: 188%;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.form_input:focus-within{
    border: 1px solid #2196F3;
    border-radius: 4px;
}

.form_input{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 42px;
    height: 40px;
}

.form_icon{
 width: 18px;
 height: 18px;
 fill: var(--logo-color);
 position: absolute;
 top: 50%;
 left: 12px;
}

.form_field:hover .form_icon,
.form_field:focus-within .form_icon{
    fill: var(--acent-color);
}

.checkbox{
    appearance: none;
    position: absolute;
}

.icon{
    display: inline-block;
    width: 15px;
    height: 15px;


    border: 2px solid var(--logo-color);
    border-radius: 2px;
    margin-right: 8px;
    /* margin-right: 8px; */
    
}

.checkbox:checked + .icon{
    background-image: url(../images/iconcheck2.svg);
    /* margin-right: 8px; */
    background-color: #188CE8;
    background-size: contain;
    background-origin:border-box;
    border-color: transparent;
    margin-right: 8px;
}

.lastfild{
    margin-bottom: 0;
}

.footer_adress{
    margin-right: 70px;
    flex-grow: 1;
}

.footer_link{
    margin-right: 93px;
}